@import './../common/abstracts/_mixin.scss';
@import './../common/abstracts/variable.scss';

@include b(badge) {
  @include e(content) {
    background-color: $-badge-bg;
    font-size: $-badge-fs;
    white-space: nowrap;
    border: $-badge-border;

    @each $type in (primary, success, warning, info, danger) {
      @include m($type) {
        @if $type == primary {
          background-color: $-badge-primary;
        } @else if $type == success {
          background-color: $-badge-success;
        } @else if $type == warning {
          background-color: $-badge-warning;
        } @else if $type == info {
          background-color: $-badge-info;
        } @else {
          background-color: $-badge-danger;
        }
      }
    }
  }
}