@import '../common/abstracts/variable';
@import '../common/abstracts/mixin';


@include b(calendar) {
  @include when(border) {
    .wd-calendar__cell {
      @include halfPixelBorder('top', $-cell-padding);
    }
  }

  @include e(cell) {
    position: relative;
    display: flex;
    padding: $-cell-wrapper-padding $-cell-padding;
    align-items: flex-start;
    background-color: $-color-white;
    text-decoration: none;
    color: $-cell-title-color;
    font-size: $-cell-title-fs;
    overflow: hidden;
    line-height: $-cell-line-height;
  }

  @include e(cell) {
    @include when(disabled) {
      .wd-calendar__value {
        color: $-input-disabled-color;
      }
    }

    @include when(align-right) {
      .wd-calendar__value {
        text-align: right;
      }
    }

    @include when(error) {
      .wd-calendar__value {
        color: $-input-error-color;
      }

      :deep(.wd-calendar__arrow) {
        color: $-input-error-color;
      }
    }

    @include when(large) {
      font-size: $-cell-title-fs-large;

      :deep(.wd-calendar__arrow) {
        font-size: $-cell-icon-size-large;
      }
    }

    @include when(center) {
      align-items: center;

      :deep(.wd-calendar__arrow) {
        margin-top: 0;
      }
    }
  }

  @include e(label) {

    @include when(required) {

      &::after {
        position: absolute;
        left: 0;
        top: 2px;
        content: '*';
        font-size: $-cell-required-size;
        line-height: 1.1;
        color: $-cell-required-color;
      }
    }
  }

  @include e(title) {
    color: $-action-sheet-color;
    height: $-action-sheet-title-height;
    line-height: $-action-sheet-title-height;
    font-size: $-action-sheet-title-fs;
    font-weight: $-action-sheet-weight;
  }

}