@import '../common/abstracts/variable';
@import '../common/abstracts/mixin';


@include b(drop-item) {

  .wd-drop-item__popup {
    position: absolute;
    max-height: 80%;
  }

  @include e(option) {
    height: $-drop-menu-item-height;
    line-height: $-drop-menu-item-height;
    padding: 0 $-drop-menu-side-padding;
    transition: color .2s;
  }

  @include e(tip) {
    color: $-drop-menu-item-color-tip;
    font-size: $-drop-menu-item-fs-tip;
  }

  @include edeep(icon){
    font-size: $-drop-menu-option-check-size;
  }

  @include e(modal) {
    position: fixed;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
  }
}