$unit: 4;
$base: 4px;

@mixin property($prop, $value) {
  #{$prop}: $value * $base;
}
@mixin property_basic($prop, $value) {
  #{$prop}: $value * $unit;
}

@for $i from 0 through 12 {
  .m-#{$i} {
    @include property("margin", $i);
  }
  .my-#{$i} {
    @include property("margin-top", $i);
    @include property("margin-bottom", $i);
  }
  .mx-#{$i} {
    @include property("margin-left", $i);
    @include property("margin-right", $i);
  }
  .p-#{$i} {
    @include property("padding", $i);
  }
  .px-#{$i} {
    @include property("padding-left", $i);
    @include property("padding-right", $i);
  }
  .py-#{$i} {
    @include property("padding-top", $i);
    @include property("padding-bottom", $i);
  }
  .top-#{$i} {
    @include property("top", $i);
  }
  .left-#{$i} {
    @include property("left", $i);
  }
  .right-#{$i} {
    @include property("right", $i);
  }
  .bottom-#{$i} {
    @include property("bottom", $i);
  }
  .h-#{$i} {
    @include property("height", $i);
  }
  .leading-#{$i} {
    @include property("line-height", $i);
  }
  .z-#{$i} {
    @include property_basic("z-index", $i);
  }
}

.h-screen {
  height: 100vh;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}

.w-full {
  width: 100%;
}

.bg-white {
  background-color: #fff;
}

.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}
.border-box {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.bg-slate-200 {
  background-color: rgb(226 232 240);
}
