@import '../../common/abstracts/variable';
@import '../../common/abstracts/mixin';

@include b(month) {
  @include e(day) {
    @include when(current) {
      color: $-calendar-active-color;
    }

    @include when(selected) {
      .wd-month__day-container {
        border-radius: $-calendar-active-border;
        background: $-calendar-active-color;
        color: #fff;
      }
    }

    @include when(middle) {
      .wd-month__day-container {
        background: $-calendar-range-color;
      }
    }

    @include when(start) {
      &::after {
        position: absolute;
        content: '';
        height: 64px;
        top: 0;
        right: 0;
        left: 50%;
        background: $-calendar-range-color;
        z-index: 1;
      }

      &.is-without-end::after {
        display: none;
      }

      .wd-month__day-container {
        background: $-calendar-active-color;
        color: #fff;
        border-radius: $-calendar-active-border;
      }
    }

    @include when(end) {
      &::after {
        position: absolute;
        content: '';
        height: 64px;
        top: 0;
        left: 0;
        right: 50%;
        background: $-calendar-range-color;
        z-index: 1;
      }

      .wd-month__day-container {
        background: $-calendar-active-color;
        color: #fff;
        border-radius: $-calendar-active-border;
      }
    }

    @include when(same) {
      .wd-month__day-container {
        background: $-calendar-active-color;
        color: #fff;
        border-radius: $-calendar-active-border;
      }
    }
  }
}