@import '../common/abstracts/variable';
@import '../common/abstracts/mixin';


@include b(sort-button) {
  height: $-sort-button-height;
  line-height: $-sort-button-height;

  @include m(line) {
    .wd-sort-button__left {
      &::after {
        position: absolute;
        content: '';
        width: 19px;
        height: 3px;
        bottom: 6px;
        left: 50%;
        transform: translate(-50%, 0);
        background: $-sort-button-line-color;
        border-radius: calc($-sort-button-line-height / 2);
        transition: opacity .15s;
        opacity: 0;
      }

      &.is-active::after {
        opacity: 1;
      }
    }
  }

  @include e(left) {

    @include when(active) {

      .wd-sort-button__right {
        justify-content: center;
      }

    }
  }

  @include e(right) {
    @include when(active) {

      :deep(.wd-sort-button__icon-up),
      :deep(.wd-sort-button__icon-down) {
        transform: scale(calc((10 / 14)));
      }
    }
  }
}