@import "./../common/abstracts/_mixin.scss";
@import "./../common/abstracts/variable.scss";

@include b(popover) {

  @include e(menu-inner) {
    padding: $-popover-padding 0;

    @include halfPixelBorder("top", 0, $-popover-border-color);

    &:first-child::after {
      display: none;
    }
  }


  @include edeep(pos) {
    position: absolute;
    box-sizing: border-box;
    background-clip: padding-box;
    text-align: center;
    min-height: 36px;
    z-index: $-popover-z-index;
    line-height: $-popover-line-height;
    font-size: $-popover-fs;
    border-radius: $-popover-radius;
    transition: opacity 0.2s;
    background: $-popover-bg;
    box-shadow: $-popover-box-shadow;
    color: $-popover-color;
  }

  @include squareArrow($-popover-arrow-size, $-popover-bg, $-popover-z-index - 1, $-popover-arrow-box-shadow);
}