@import '../common/abstracts/variable';
@import '../common/abstracts/mixin';

@include b(notice-bar) {
  padding: $-notice-bar-padding;
  font-size: $-notice-bar-fs;
  border-radius: $-notice-bar-border-radius;

  @include when(warning) {
    background: $-notice-bar-warning-bg;
    color: $-notice-bar-warning-color;
  }
  @include when(info) {
    background: $-notice-bar-info-bg;
    color: $-notice-bar-info-color;
  }
  @include when(danger) {
    background: $-notice-bar-danger-bg;
    color: $-notice-bar-danger-color;
  }
  @include edeep(prefix) {
    font-size: $-notice-bar-prefix-size;
  }

  @include edeep(suffix) {
    font-size: $-notice-bar-close-size;
    background-color: $-notice-bar-close-bg;
    color: $-notice-bar-close-color;
    border-radius: 0px 8px 0px 4px;
  }
  @include e(content) {
    @include m(play) {
      animation: notice-bar-play linear both;
    }
    @include m(play-infinite) {
      animation: notice-bar-play-infinite linear infinite both;
    }
  }
  @include m(ellipse) {
    .wd-notice-bar__content {
      position: static;
      @include lineEllipsis;
    }
  }
  @include m(wrap) {
    .wd-notice-bar__wrap {
      height: auto;
    }
    .wd-notice-bar__content {
      position: static;
      white-space: normal;
    }
  }
}

@keyframes notice-bar-play {
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes notice-bar-play-infinite {
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
