@import "./../common/abstracts/_mixin.scss";
@import "./../common/abstracts/variable.scss";

@include b(checkbox) {
  -webkit-tap-highlight-color: transparent;

  @include edeep(check) {
    color: $-checkbox-check-color;
    font-size: $-checkbox-icon-size;
    opacity: 0;
    transition: opacity 0.2s;
  }

  @include when(checked) {
    .wd-checkbox__shape {
      color: $-checkbox-checked-color;
      background: currentColor;
      border-color: currentColor;
    }

    :deep(.wd-checkbox__check) {
      opacity: 1;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @include when(button) {
    .wd-checkbox__shape {
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      border: none;
    }

    .wd-checkbox__label {
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      min-width: $-checkbox-button-min-width;
      height: $-checkbox-button-height;
      font-size: $-checkbox-button-font-size;
      margin-left: 0;
      padding: 5px 15px;
      border: 1px solid $-checkbox-button-border;
      background-color: $-checkbox-button-bg;
      border-radius: $-checkbox-button-radius;
      transition: color 0.2s, border 0.2s;
      box-sizing: border-box;
    }

    @include when(checked) {
      .wd-checkbox__label {
        color: $-checkbox-checked-color;
        background-color: $-checkbox-bg;
        border-color: $-checkbox-checked-color;
        border-color: currentColor;
      }
    }
  }

  @include when(disabled) {
    .wd-checkbox__shape {
      border-color: $-checkbox-border-color;
      background: $-checkbox-disabled-check-bg;
    }

    .wd-checkbox__label {
      color: $-checkbox-disabled-label-color;
    }

    @include when(checked) {
      .wd-checkbox__shape {
        color: $-checkbox-disabled-check-color;
      }

      .wd-checkbox__label {
        color: $-checkbox-disabled-label-color;
      }
    }

    @include when(button) {
      .wd-checkbox__label {
        background: $-checkbox-disabled-color;
        border-color: $-checkbox-button-border;
        color: $-checkbox-disabled-label-color;
      }

      @include when(checked) {
        .wd-checkbox__label {
          border-color: $-checkbox-button-disabled-border;
        }
      }
    }
  }

  // 以下内容用于解决父子组件样式隔离的问题 —— START
  @include when(cell-box) {
    @include when(large) {
      padding: 14px 15px;
    }
  }

  @include when(button-box) {
    .wd-checkbox__label {
      width: 100%;
    }

    &:last-child::after {
      content: "";
      display: table;
      clear: both;
    }
  }

  @include when(large) {
    .wd-checkbox__shape {
      width: $-checkbox-large-size;
      height: $-checkbox-large-size;
      font-size: $-checkbox-large-size;
    }

    .wd-checkbox__label {
      font-size: $-checkbox-large-label-fs;
    }
  }
}