@import '../common/abstracts/variable';
@import '../common/abstracts/mixin';

@import '../wd-table/index';

@include b(table-col) {

  @include when(shadow) {
    &::after {
      content: ' ';
      position: absolute;
      height: 100%;
      right: -30rpx;
      top: 0;
      width: 30rpx;
      height: 100%;
      background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.04) 100%);
    }
  }

  .wd-table__cell:last-child {
    @include when(border) {
      border-bottom: none;
    }
  }
}