@import '../common/abstracts/variable.scss';
@import '../common/abstracts/_mixin.scss';

@include b(cell) {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;

  @include e(wrapper) {
    padding: $-cell-wrapper-padding $-cell-padding $-cell-wrapper-padding 0;

    @include when(vertical) {

      .wd-cell__right {
        margin-top: $-cell-vertical-top;
      }

      .wd-cell__value {
        text-align: left;
      }

      .wd-cell__left {
        margin-right: 0;
      }
    }

    @include when(label) {
      padding: $-cell-wrapper-padding-with-label $-cell-padding $-cell-wrapper-padding-with-label 0;
    }
  }

  @include e(left) {

    @include when(required) {
      &::after {
        position: absolute;
        content: '*';
        top: 0;
        left: 0;
        font-size: $-cell-required-size;
        color: $-cell-required-color;
      }
    }
  }

  @include e(title) {
    font-size: $-cell-title-fs;
  }

  @include e(label) {
    font-size: $-cell-label-fs;
    color: $-cell-label-color;
    @include lineEllipsis;
  }

  @include e(value) {
    font-size: $-cell-value-fs;
    color: $-cell-value-color;
  }

  @include edeep(arrow-right) {
    width: $-cell-arrow-size;
    font-size: $-cell-arrow-size;
    color: $-cell-arrow-color;
    height: $-cell-line-height;
    line-height: $-cell-line-height;
  }

  @include e(error-message){
    color: $-form-item-error-message-color;
    font-size: $-form-item-error-message-font-size;
    line-height: $-form-item-error-message-line-height;
  }

  @include when(link) {
    -webkit-tap-highlight-color: $-cell-tap-bg;
  }

  @include when(hover) {
    background-color: $-cell-tap-bg;
  }

  @include when(large) {
    .wd-cell__title {
      font-size: $-cell-title-fs-large;
    }

    .wd-cell__wrapper {
      padding-top: $-cell-wrapper-padding-large;
      padding-bottom: $-cell-wrapper-padding-large;
    }

    .wd-cell__label {
      font-size: $-cell-label-fs-large;
    }

    :deep(.wd-cell__icon) {
      font-size: $-cell-icon-size-large;
    }
  }
}