@import '../common/abstracts/_mixin.scss';
@import '../common/abstracts/variable.scss';


@include b(search) {
  @include e(input) {
    -webkit-appearance: none;

    @include lineEllipsis;

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }


  @include when(light) {
    background: $-search-light-bg;

    .wd-search__block {
      background: #fff;
    }

    .wd-search__cover {
      background: #fff;
    }
  }
  @include when(without-cancel) {
    padding-right: $-search-side-padding;
  }
}