@import "../common/abstracts/variable.scss";
@import "../common/abstracts/_mixin.scss";

@include b(message-box) {
  @include e(content) {
    max-height: $-message-box-content-max-height;
    color: $-message-box-content-color;
    font-size: $-message-box-content-fs;

    &::-webkit-scrollbar {
      width: $-message-box-content-scrollbar-width;
    }

    &::-webkit-scrollbar-thumb {
      width: $-message-box-content-scrollbar-width;
      background: $-message-box-content-scrollbar-color;
      border-radius: calc($-message-box-content-scrollbar-width / 2);
    }
  }
}

.zoomIn-enter-active,
.zoomIn-leave-active {
  opacity: 1;
  transform: translate3d(-50%, -50%, 0) scale(1);
  transition: all .2s;
}

.zoomIn-enter {
  opacity: 0;
  transform: translate3d(-50%, -50%, 0) scale(0.7);
  transition: all .2s ease-out;
}

.zoomIn-leave-to {
  opacity: 0;
  transform: translate3d(-50%, -50%, 0) scale(0.9);
  transition: all .2s ease-out;
}