@import "./../../common/abstracts/_mixin.scss";
@import "./../../common/abstracts/variable.scss";


.wd-key-wrapper {
  flex-basis: 33%;

  @include m(wider) {
    flex-basis: 66%;
  }
}

@include b(key) {
  height: $-number-keyboard-key-height;
  font-size: $-number-keyboard-key-font-size;
  line-height: 1.5;
  background: $-number-keyboard-key-background;
  border-radius: $-number-keyboard-key-border-radius;

  &:active {
    background-color: $-number-keyboard-key-active-color;
  }

  @include m(delete, close) {
    font-size: $-number-keyboard-delete-font-size;
  }

  @include m(active) {
    background-color: $-number-keyboard-key-active-color;
  }

  @include m(close) {
    background: $-number-keyboard-button-background;

    &:active {
      background: $-number-keyboard-button-background;
      opacity: $-number-keyboard-button-active-opacity;
    }
  }
}