@import '../../common/abstracts/variable';
@import '../../common/abstracts/mixin';

@include b(year) {

  @include e(month) {

    @include when(current) {
      color: $-calendar-active-color;
    }

    @include when(selected) {
      color: #fff;

      .wd-year__month-text {
        border-radius: $-calendar-active-border;
        background: $-calendar-active-color;
      }
    }

    @include when(middle) {
      background: $-calendar-range-color;
    }

    @include when(start) {
      color: #fff;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        left: 50%;
        bottom: 0;
        content: '';
        background: $-calendar-range-color;
      }

      .wd-year__month-text {
        background: $-calendar-active-color;
        border-radius: $-calendar-active-border;
      }

      &.is-without-end::after {
        display: none;
      }
    }

    @include when(end) {
      color: #fff;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        right: 50%;
        bottom: 0;
        content: '';
        background: $-calendar-range-color;
      }

      .wd-year__month-text {
        background: $-calendar-active-color;
        border-radius: $-calendar-active-border;
      }
    }

    @include when(same) {
      color: #fff;

      .wd-year__month-text {
        background: $-calendar-active-color;
        border-radius: $-calendar-active-border;
      }
    }
  }

}