@import '../common/abstracts/variable';
@import '../common/abstracts/mixin';

@include b(col-picker) {
  @include when(border) {
    .wd-col-picker__cell {
      @include halfPixelBorder('top', $-cell-padding);
    }
  }
  @include e(cell) {
    padding: $-cell-wrapper-padding $-cell-padding;
    text-decoration: none;
    color: $-cell-title-color;
    font-size: $-cell-title-fs;
    line-height: $-cell-line-height;
  }
  @include e(cell) {
    @include when(disabled) {
      .wd-col-picker__value {
        color: $-input-disabled-color;
      }
    }
    @include when(align-right) {
      .wd-col-picker__value {
        text-align: right;
      }
    }
    @include when(error) {
      .wd-col-picker__value {
        color: $-input-error-color;
      }
      :deep(.wd-col-picker__arrow) {
        color: $-input-error-color;
      }
    }
    @include when(large) {
      font-size: $-cell-title-fs-large;

      :deep(.wd-col-picker__arrow) {
        font-size: $-cell-icon-size-large;
      }
    }
  }
  @include e(error-message){
    font-size: $-form-item-error-message-font-size;
    line-height: $-form-item-error-message-line-height;
  }
  @include e(label) {

    @include when(required) {
      &::after {
        position: absolute;
        left: 0;
        top: 2px;
        content: '*';
        font-size: $-cell-required-size;
        line-height: 1.1;
        color: $-cell-required-color;
      }
    }
  }

  @include e(selected-item) {
    flex: 0 0 auto;
    height: $-col-picker-selected-height;
    line-height: $-col-picker-selected-height;
    padding: $-col-picker-selected-padding;

    @include when(selected) {
      font-weight: $-col-picker-selected-fw;
    }
  }
  @include e(selected-line) {
    width: $-col-picker-line-width;
    height: $-col-picker-line-height;
    background: $-col-picker-line-color;
    border-radius: calc($-col-picker-line-height / 2);
    box-shadow: $-col-picker-line-box-shadow;
  }
  @include e(list) {
    -webkit-overflow-scrolling: touch;
  }
}