@import '../common/abstracts/variable';
@import '../common/abstracts/mixin';


@include b(sidebar-item) {
  
  font-size: 16px;
  color: $-font-gray-1;
  background: $-sidebar-bg;
  min-height: 56px;
  white-space: wrap;
  line-height: 24px;

  &:active {
    background-color: $-sidebar-hover-bg;
  }

  @include m(active) {
    background: $-sidebar-active-bg;
    color: $-sidebar-active-color;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: $-sidebar-active-border-width;
      height: $-sidebar-active-border-height;
      background: $-sidebar-active-color;
      transform: translateY(-50%);
      content: '';
      border-radius: $-sidebar-active-border-width;
    }

    &:active {
      background-color: transparent;
    }
  }

  @include m(prefix) {
    border-bottom-right-radius: $-sidebar-border-radius;
  }

  @include m(suffix) {
    border-top-right-radius: $-sidebar-border-radius;
  }


  @include m(disabled) {
    color: $-sidebar-disabled-color;
    cursor: not-allowed;

    &:active {
      background-color: $-sidebar-bg;
    }
  }


}