@import "./../common/abstracts/_mixin.scss";
@import "./../common/abstracts/variable.scss";


@include b(tooltip) {

  @include e(container) {
    line-height: $-tooltip-line-height;
    font-size: $-tooltip-fs;
  }

  @include e(inner) {
    padding: $-tooltip-padding;
    white-space: nowrap;
    line-height: $-tooltip-line-height;
  }

  @include edeep(close-icon) {
    font-size: 12px;
    position: absolute;
    right: -8px;
    top: -10px;
    transform: scale(0.5);
    padding: 10px;
  }

  @include triangleArrow($-tooltip-arrow-size, $-tooltip-bg);
}