@import "./../common/abstracts/_mixin.scss";
@import "./../common/abstracts/variable.scss";

@include b(toast) {
  border-radius: $-toast-radius;
  transition: all 0.2s;
  font-size: $-toast-fs;
  box-shadow: $-toast-box-shadow;


  
  @include e(loading) {
    margin-bottom: 16px;
    display: inline-block;
  }
  @include m(top) {
    transform: translate3d(0, -40vh, 0);
  }
  @include m(middle){
    transform: translate3d(0%,-18.8vh,0);
  }
  @include m(bottom) {
    transform: translate3d(0, 40vh, 0);
  }
  @include m(loading) {
    min-width: auto;
    padding: $-toast-loading-padding;
  }
}
