@import "./../common/abstracts/_mixin.scss";
@import "./../common/abstracts/variable.scss";



@include b(picker-view) {
  @include e(columns) {
    background: $-picker-bg;
  }

  @include edeep(mask) {
    background: $-picker-mask;
    background-position: top, bottom;
    background-repeat: no-repeat;
    pointer-events: none;
    filter: blur(4px);
  }

  @include edeep(roller) {
    background: rgba(245, 245, 245, 1);

    &::before,
    &::after {
      display: none;
    }
  }
}

@include b(picker-view-column) {
  font-size: $-picker-column-fs;
  color: $-picker-column-color;
  transition-timing-function: cubic-bezier(0.28, 0.8, 0.63, 1);

  @include e(item) {
    @include m(disabled) {
      color: $-picker-column-disabled-color;
    }
  }
}