@charset "UTF-8";

@tailwind base;
@tailwind components;
@tailwind utilities;

.clearfix:after {
  clear: both;
  content: '';
  display: table;
}

@layer base {
  :root {
    /* #4d80f0 */
    --theme: 12 84% 62%;
    /* #34d19d */
    --success: 160.13 63.05% 51.18%;
    /* #f0883a */
    --warning: 25.71 85.85% 58.43%;
    /* #fa4350 */
    --danger: 355.74 94.82% 62.16%;
    /* #909399 */
    --info: 220 4.23% 58.24%;
    /* #f7f8fa */
    --gray-1: 220 23.08% 97.45%;
    /* #f2f3f5 */
    --gray-2: 220 13.04% 95.49%;
    /* #ebedf0 */
    --gray-3: 216 14.29% 93.14%;
    /* #dcdee0 */
    --gray-4: 210 6.06% 87.06%;
    /* #c8c9cc */
    --gray-5: 225 3.77% 79.22%;
    /* #969799 */
    --gray-6: 220 1.45% 59.41%;
    /* #646566 */
    --gray-7: 0 0.99% 39.61%;
    /* #323233 */
    --gray-8: 0 0.99% 19.8%;

    /* #262626 */
    --main: 0 0% 14.9%;
  }

  .dark {
  }
}

.overflow-scrolling-touch {
  -webkit-overflow-scrolling: touch;
}

.tap-highlight-transparent {
  -webkit-tap-highlight-color: transparent;
}
.hairline,
.hairline--bottom,
.hairline--left,
.hairline--right,
.hairline--surround,
.hairline--top,
.hairline--top-bottom {
  position: relative;
}
.hairline--bottom:after,
.hairline--left:after,
.hairline--right:after,
.hairline--surround:after,
.hairline--top-bottom:after,
.hairline--top:after,
.hairline:after {
  border: 0 solid #e8e8e8;
  bottom: -50%;
  box-sizing: border-box;
  content: ' ';
  left: -50%;
  pointer-events: none;
  position: absolute;
  right: -50%;
  top: -50%;
  transform: scale(0.5);
  transform-origin: center;
}
.hairline--top:after {
  border-top-width: 1px;
}
.hairline--left:after {
  border-left-width: 1px;
}
.hairline--right:after {
  border-right-width: 1px;
}
.hairline--bottom:after {
  border-bottom-width: 1px;
}
.hairline--top-bottom:after {
  border-width: 1px 0;
}
.hairline--surround:after {
  border-width: 1px;
}
